/* https://gist.github.com/qguv/7936275 */
.code.solarized-dark {
  // Line numbers
  .line-numbers, .diff-line-num {
    background-color: #002b36;
  }

  .diff-line-num, .diff-line-num a {
    color: rgba(255, 255, 255, 0.3);
  }

  // Code itself
  pre.code {
    border-left: 1px solid #113b46;
  }

  &, pre.code, .line_holder .line_content {
    background-color: #002b36;
    color: #93a1a1;
  }

  // Diff line
  .line_holder {
    .diff-line-num.new, .line_content.new {
      @include diff_background(rgba(133, 153, 0, 0.2), rgba(133, 153, 0, 0.3), #808080);
    }

    .diff-line-num.old, .line_content.old {
      @include diff_background(rgba(220, 50, 47, 0.2), rgba(220, 50, 47, 0.3), #808080);
    }

    .line_content.match {
      color: rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.1);
    }
  }

  // highlight line via anchor
  pre .hll {
    background-color: #174652 !important;
  }

  // Search result highlight
  span.highlight_word {
    background-color: #094554 !important;
  }

  /* Solarized Dark

  For use with Jekyll and Pygments

  http://ethanschoonover.com/solarized

  SOLARIZED HEX      ROLE
  --------- -------- ------------------------------------------
  base03    #002b36  background
  base01    #586e75  comments / secondary content
  base1     #93a1a1  body text / default code / primary content
  orange    #cb4b16  constants
  red       #dc322f  regex, special keywords
  blue      #268bd2  reserved keywords
  cyan      #2aa198  strings, numbers
  green     #859900  operators, other keywords
  */

  .c { color: #586e75 } /* Comment */
  .err { color: #93a1a1 } /* Error */
  .g { color: #93a1a1 } /* Generic */
  .k { color: #859900 } /* Keyword */
  .l { color: #93a1a1 } /* Literal */
  .n { color: #93a1a1 } /* Name */
  .o { color: #859900 } /* Operator */
  .x { color: #cb4b16 } /* Other */
  .p { color: #93a1a1 } /* Punctuation */
  .cm { color: #586e75 } /* Comment.Multiline */
  .cp { color: #859900 } /* Comment.Preproc */
  .c1 { color: #586e75 } /* Comment.Single */
  .cs { color: #859900 } /* Comment.Special */
  .gd { color: #2aa198 } /* Generic.Deleted */
  .ge { color: #93a1a1; font-style: italic } /* Generic.Emph */
  .gr { color: #dc322f } /* Generic.Error */
  .gh { color: #cb4b16 } /* Generic.Heading */
  .gi { color: #859900 } /* Generic.Inserted */
  .go { color: #93a1a1 } /* Generic.Output */
  .gp { color: #93a1a1 } /* Generic.Prompt */
  .gs { color: #93a1a1; font-weight: bold } /* Generic.Strong */
  .gu { color: #cb4b16 } /* Generic.Subheading */
  .gt { color: #93a1a1 } /* Generic.Traceback */
  .kc { color: #cb4b16 } /* Keyword.Constant */
  .kd { color: #268bd2 } /* Keyword.Declaration */
  .kn { color: #859900 } /* Keyword.Namespace */
  .kp { color: #859900 } /* Keyword.Pseudo */
  .kr { color: #268bd2 } /* Keyword.Reserved */
  .kt { color: #dc322f } /* Keyword.Type */
  .ld { color: #93a1a1 } /* Literal.Date */
  .m { color: #2aa198 } /* Literal.Number */
  .s { color: #2aa198 } /* Literal.String */
  .na { color: #93a1a1 } /* Name.Attribute */
  .nb { color: #B58900 } /* Name.Builtin */
  .nc { color: #268bd2 } /* Name.Class */
  .no { color: #cb4b16 } /* Name.Constant */
  .nd { color: #268bd2 } /* Name.Decorator */
  .ni { color: #cb4b16 } /* Name.Entity */
  .ne { color: #cb4b16 } /* Name.Exception */
  .nf { color: #268bd2 } /* Name.Function */
  .nl { color: #93a1a1 } /* Name.Label */
  .nn { color: #93a1a1 } /* Name.Namespace */
  .nx { color: #93a1a1 } /* Name.Other */
  .py { color: #93a1a1 } /* Name.Property */
  .nt { color: #268bd2 } /* Name.Tag */
  .nv { color: #268bd2 } /* Name.Variable */
  .ow { color: #859900 } /* Operator.Word */
  .w { color: #93a1a1 } /* Text.Whitespace */
  .mf { color: #2aa198 } /* Literal.Number.Float */
  .mh { color: #2aa198 } /* Literal.Number.Hex */
  .mi { color: #2aa198 } /* Literal.Number.Integer */
  .mo { color: #2aa198 } /* Literal.Number.Oct */
  .sb { color: #586e75 } /* Literal.String.Backtick */
  .sc { color: #2aa198 } /* Literal.String.Char */
  .sd { color: #93a1a1 } /* Literal.String.Doc */
  .s2 { color: #2aa198 } /* Literal.String.Double */
  .se { color: #cb4b16 } /* Literal.String.Escape */
  .sh { color: #93a1a1 } /* Literal.String.Heredoc */
  .si { color: #2aa198 } /* Literal.String.Interpol */
  .sx { color: #2aa198 } /* Literal.String.Other */
  .sr { color: #dc322f } /* Literal.String.Regex */
  .s1 { color: #2aa198 } /* Literal.String.Single */
  .ss { color: #2aa198 } /* Literal.String.Symbol */
  .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
  .vc { color: #268bd2 } /* Name.Variable.Class */
  .vg { color: #268bd2 } /* Name.Variable.Global */
  .vi { color: #268bd2 } /* Name.Variable.Instance */
  .il { color: #2aa198 } /* Literal.Number.Integer.Long */
}
